:root{
  --bkg:rgb(227, 205, 177);
  --paper:rgb(245, 242, 237);
  --tbars:rgba(0, 0, 0, 0.6);
  --select:rgb(144, 116, 81);
}

body{
  background-color: var(--bkg);

  font-size: 100%;
  font-family: "Times New Roman", Times, Serif;

  margin: 0;
}

::selection{
  background: var(--select);
  color: var(--paper);
}
::-moz-selection{
  background: var(--select);
  color: var(--paper);
}

#toolbar{
  background-color: var(--tbars);
  color: var(--paper);

  padding:0px 4px;
  border-radius: 5px;

  z-index: 2;
  position: fixed;

  font-size:2em;

  top:10px;
  right:10px;
}

#toolbar i{
  padding:5px 7px;
  transition: 0.5s;
}

#counter{
  background-color: var(--tbars);
  color: var(--paper);

  padding:2px 5px;
  border-radius: 5px;

  z-index: 2;
  position: fixed;

  bottom:10px;
  right:10px;
}

.paper{
  background-color: var(--paper);

  border-style: none;

  font-size: 2em;
  font-family: inherit;

  width: 800px;

  margin: 0 auto;
  padding: 50px 50px;

  overflow: hidden;

	word-wrap: break-word;
}

.blank{
  z-index: -1;

  position: fixed;

  left:0;
  right:0;

  top:0;
  bottom:0;
}
